.Weather {
  margin-top: 50px;
  padding: 50px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #624f82;
}
.Weather input {
  font-size: 25px;
}
.Weather .date {
  color: white;
}

@media (max-width: 570px) {
  .Weather input {
    font-size: 15px;
  }
  .Weather .date {
    font-size: 15px;
  }
}
