.Weather {
  margin-top: 50px;
  padding: 50px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #624f82;
}
.Weather input {
  font-size: 25px;
}
.Weather .date {
  color: white;
}
.Weather h1 {
  font-size: 60px;
  margin: 50px auto 20px;
}
.Weather .temperature {
  font-size: 70px;
  line-height: 70px;
  margin: auto;
  padding-left: 10px;
}

.Weather .today-forecast {
  margin-bottom: 80px;
}
.Weather .unit {
  font-size: 30px;
  position: relative;
  top: -30px;
  left: -10px;
}
.Weather .top-information {
  color: white;
}
.Weather .main-icon {
  width: 66%;
  background-color: #a0e7e5;
  border-radius: 50%;
}
.Weather .description {
  font-weight: bold;
  margin: auto;
  font-size: 30px;
}
.Weather .main-info-right {
}
.Weather .main-info-left {
}
